@font-face {
  font-family: 'wp-share-buttons';
  src: url('../../vendor/inc2734/wp-share-buttons/src/assets/font/wp-share-buttons.eot');
  src: url('../../vendor/inc2734/wp-share-buttons/src/assets/font/wp-share-buttons.eot')  format('embedded-opentype'),
       url('../../vendor/inc2734/wp-share-buttons/src/assets/font/wp-share-buttons.ttf')  format('truetype'),
       url('../../vendor/inc2734/wp-share-buttons/src/assets/font/wp-share-buttons.woff') format('woff'),
       url('../../vendor/inc2734/wp-share-buttons/src/assets/font/wp-share-buttons.svg')  format('svg');
  font-weight: normal;
  font-style: normal;
}

@import 'variable/variable';
@import 'mixin/mixin';
@import 'component/button';
@import 'component/buttons';
