:where(.wp-share-buttons) {
	margin-top: 20px;
	margin-bottom: 20px;
}

.wp-share-buttons {
	overflow: hidden;

	&__list {
		list-style: none;
		margin: 0 -3px;
		font-size: 0;
		padding: 0;
	}

	&__item {
		margin: 3px;
		display: inline-block;
		font-size: 1rem;
		padding: 0;
		vertical-align: top;
		overflow: hidden;
	}

	/**
	* Type: Block
	*/
	&--block {
		.wp-share-buttons__list {
			margin: 0 -3px -6px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.wp-share-buttons__item {
			margin: 0;
			padding: 0 3px 6px;
			display: block;
			flex: 0 0 auto;
			width: 25%;
		}
	}

	/**
	* Type: Official
	*/
	&--official {
		.wp-share-buttons__item {
			line-height: 1;
			font-size: 0;
			vertical-align: top;
		}
	}
}
