/**
 * Share button icons
 *
 * @var map $icons
 *            name: (color, show count)
 */
$icons: (
  twitter  : (#1da1f1, true),
  facebook : (#1877f2, true),
  hatena   : (#008be2, true),
  feedly   : (#6cc655, true),
  pocket   : (#ff002d, false),
  pinterest: (#bb0f23, false),
  line     : (#00b900, false),
  feed     : (#ff9900, false),
  copy     : (#333333, false)
);
